.box1Bg{
	    /*background-image:none;
	    background-color: #F5F5F5;*/
	    /*border:2px solid red;*/
	    /*background-color: red;*/
	    /*background-image: url('../img/alliance/children.png');*/
}
#alliance-bg{
	/*background-color: #ffffff;*/
	/*background-image: none;*/
	/*background-color: red;*/
	background-image: url('../img/alliance/children.png');
}
.about-alliance{
	width:100%;
	/*height:300px;*/
	/*border:1px solid red;*/
	padding:1%;
	margin-bottom:4%; 
	background-color: #528ACC;
}
.about-alliance p{
	/*color:black;*/
}
.left-t{
	padding:1%;
	/*border:1px solid yellow;*/
	width:66.6666%;
	float:left;
}
.left-t .img-t{
	/*width:65.6666%;*/
}
.left-t .logo-t{
	padding:1%;
	padding-top: 2%;
}
.left-t .img-t img{
	width:100%;
}
.left-t p{
	padding:0px;
}
.right-t{
	padding:1%;
	padding-left: 2%;
	/*border:1px solid black;*/
	width:33.33333%;
	float:left;
	overflow: hidden;
    text-overflow: ellipsis;
}
.right-t p{
	text-indent: 2em;
	line-height: 24px;
	padding-top: 3%;
}
.border-right-line{
	border-right:1px solid white;
}
.btn-img img{
	width:21%;
}

#active-show li{
	width: 33.333%;
	padding:1%;
	background-color: #ffffff;
}
#active-show li p{
	color:black;
	padding-top: 5%;
	padding-bottom: 3%;
}

#member-news-show li{
	width: 50%;
	/*padding:1%;*/
	padding: 0% 3% 0%;
	/*background-color: #ffffff;*/
	height:140px;
	margin-bottom: 20px;
	/*text-align: center;*/
	/*margin-left:10px;*/
	/*padding-bottom: 10px;*/
	padding-right:4%;
	/*border: 1px solid red;*/
	/*background: red;*/
}
#member-news-show li a h4:hover{
	color: #9DC040;
}
#member-news-show li .left-show{
	/*width:20%;*/
	/*height:100px;*/
	padding:0px;
	padding-left:0px;
	background: #ffffff;
	/*border:1px solid yellow;*/
}
#member-news-show li .left-show .img-show{
	/*background-color: blue;*/
	width:130px;
	height:130px;
}
#member-news-show li .left-show img{
	/*display:block;*/
	padding-left:0px;
	width:100%;
}
/*#member-news-show li .right-show{
	/*background-color: #ffffff;*/
	/*padding:2% 1%;*/
	/*margin-right: 2%;*/
	/*padding-right: 10px;*/
	/*width: 100%;*/
	/*border:1px solid blue;*/
	/*background: blue;*/
/*}*/
#member-news-show li .right-show{
	padding:2% 1%;
	/*height:100px;*/
	height:130px;
	/*border:1px solid red;*/
	background-color: #ffffff;
	overflow: hidden;
    text-overflow: ellipsis;
    /*margin-bottom: 100px;*/
    /*margin-right: 2%;*/
    /*margin-left: 0px;*/
    /*position:absolute;*/
    /*border:1px solid black;*/
    /*text-align: left;*/
}
#member-news-show p,#member-news-show h4{
	padding-top: 0px;
	color:#555555;
}
#member-news-show .show-detail{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
#member-news-show h4{
	line-height: 30px;
	color:black;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.enter-alliance{
	color:black;
	/*padding-bottom: 100px;*/
}
.enter-alliance .top-show{
	width:100%;
	height:100px;
	/*border:1px solid red;*/
	padding-bottom: 2%;
}
.enter-alliance h4{
	padding-top: 10px;
	line-height: 30px;
	color: black;
}
.enter-alliance p{
	padding-top: 0px;
	line-height: 23px;
	color: #555555;
}
.enter-alliance #middle-show{
	/*border:1px solid red;*/
}
.enter-alliance #middle-show li{
	width: 14.285%;
	/*border:1px solid black;*/
	padding-left: 0px;
	padding-right: 0px;
} 
.enter-alliance #middle-show li p{
	line-height: 30px;
}
/*.hr-line{
	position:absolute;
	top:30px;
	z-index: 999999;
	width:100%;height:2px;padding:0px;background-color:#9DC040;overflow:hidden;
}*/

ol.steps::-webkit-scrollbar { /* chrome 隐藏滚动条*/
    display: none;
}
ol.steps{
    list-style: none;
    /*display: flex;*/
    /*overflow-x: auto;*/
    height: 80px;
    margin-left: 10%;
}
ol.steps.step-text,ol.steps div{
	color:black;
}
ol.steps:after,ol.steps li:after{
    content: '';
    display: block;
    clear: both;
}
ol.steps li{
    float: left;
    flex: 1;
    position: relative;
    /*width: 14.285%;*/
    width: 14%;
    /*min-width: 120px;*/
}
ol.steps li .step-line{
    height: 2px;
    background-color: #9DC040;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.2);*/
    margin-top: 5px;
}
ol.steps li.step-active .step-line{
    background-color: #9DC040;
    box-shadow: inset 0 1px 1px #9DC040;
}
ol.steps .step-content{
    position: absolute;
    top:0;
    /*left:-15px ;*/
    left: -33px;
    text-align: center;
}
ol.steps li .step-content .step-num{
    display: inline-block;
    /*height: 30px;
    width: 30px;*/
    color: #fff;
    background-color: #9DC040;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    border:1px solid #9DC040;
}
ol.steps li.step-active .step-content .step-num{
    background-color: #9DC040;
}
ol.steps li.step-end{
    width: 120px!important;
    flex: inherit;
}
ol.steps li.step-end .step-line{
    display: none;
}
.steps .step-content .title-show{
	padding-top: 40;
	line-height:20px;
	width:75%;
}
ol.steps #second{
	left:-77px;
}
ol.steps #third{
	left:-42px;
}
ol.steps #fourth{
	left:-37px;
}
ol.steps #sixth{
	left:-71px;
}
ol.steps #seventh{
	left:-36px;
}
.b-box{
	height:190px;
}

.up-btn{
	height: 140px;
}