.my-content{
	width: 100%;
	height: 350px;
	/*border: 1px solid red;*/
	position：relative；
}
.my-content .my-left,.my-content .my-right{
	float: left;
	height: 100%;
}
.my-content .my-left{
	width: 40%;
	/*height: 100%;*/
}
@media (max-width: 992px){
	.my-content .my-left {
    	width: 36%;
	}
	/*.box1Cen {
	    margin: 0;
	    font-size: 0;
	    padding: 30px 5%;
	}*/
}

.my-left .word-title-show{
	z-index: 9999;
	/*color: #ffffff;*/
	position: absolute;
	left: 30%;
	top: 22%;
	line-height: 40px;
}
.black ,.black span{
	color:black;
}
.my-left .word-title-show span{
	/*display: inline;*/
	font-size: 28px;
	/*line-height: 40px;*/
}
.my-left .one img{
	height: 117%;
	width: 100%;
	/*left: -50;*/
	margin-left: 0px;
	margin-right: -10px;
	position: absolute;
}
.my-left .one,.my-left .two,.my-left .three,.my-left .four,.my-left .five{
	/*position: absolute;*/
	height: 70px;
	position: absolute;
	/*width: 36%;*/
	width: 36.1%;
	padding: 0px;
	/*width: 37.28%;*/
	/*border:1px solid black;*/
}
.my-left .one{
	top: 178;
	width: 37.28%;
	/*overflow:hidden;*/
	/*height: 20%;*/
	/*height: 70px;
	position: absolute;*/
	/*width: 40%;*/
	/*padding-right: -20px;*/
	/*position：absolute;*/
	/*left:;*/
	/*background: url('../img/banking/left-1.png');*/
	z-index: 100;
	/*background-position: 1000%;*/
	/*background-size: cover;*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
}
.my-left .two{
	top: 247px;
	/*width: 37.28%;*/
	z-index: 99;
	/*top: 43%;*/
	/*height: 20%;*/
	/*position: absolute;*/
	/*background: url('../img/banking/left-0.png') no-repeat 40% 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;*/
}
.my-left .three{
	top: 316px;
	/*position: absolute;*/
	/*background: yellow;*/
	z-index: 98;
	/*height: 20%;*/
	/*background: url('../img/banking/left-2.png') 100% 100%;*/
}
.my-left .four{
	top: 385px;
	/*position: absolute;*/
	/*background: red;*/
	z-index: 97;
	/*height: 20%;*/
	/*background: url('../img/banking/left-0.png') 100% 100%;*/
}
.my-left .five{
	/*height: 20%;*/
	top: 453px;
	/*position: absolute;*/
	/*background: blue;*/
	z-index: 96;
	/*background: url('../img/banking/left-5.png') 100% 100%;*/
}
.my-content .my-right{
	width: 60%;
	/*border: 1px solid black;*/
	background-image: url('../img/banking/bg-one.png');
	background-size: 100% 100%;
	padding: 100px 100px 30px 100px;
}
.my-content .my-right p{
	padding-top: 10px;
}
.sales {
	height: 300px;
	/*position: relative;*/
	padding: 10px;

}
.sales .my-pic{
	/*top: 200px;*/
	width: 60%;
	/*border: 1px solid red;*/
	float: left;
	padding-right: 10px;
	height: 300px;
	/*position: absolute;*/
}
.sales .my-intro{
	width: 40%;
	height: 100px;
	/*border: 1px solid black;*/
	float: left;
	padding-left: 10px;
	/*position: absolute;*/
}

.my-intro .intro-top{
	height: 100px;
	/*border: 1px solid blue;*/
}

.my-intro .intro-bottom{
	height: 200px;
	padding: 20px;
	border: 1.5px solid #6689BC;
}
.my-intro .intro-bottom p{
	padding-top: 0px;
}
#showRegister h4, #showRegister p, #showRegister div{
	color: black;
}
#showRegister .modal-content{
	padding: 10px 20px 30px 20px;
}

#showRegister .ajax-upload-dragdrop{
    border: none; 
    width: 100px;
    color: #9DC040;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 0px 10px;
/*    element.style {
    vertical-align: top;
    width: 400px;
}*/
}

  /*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #ffffff;
    /*background: #fafafa;*/
    background: #A6CB42;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 28px;
    width: 120px;
    text-decoration: none;
    padding-top: 3px;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

a-upload a{
  text-decoration: none;
}
.a-upload:hover {
    color: #ffffff;
    background: #A6CB42;
    border-color: #ccc;
    text-decoration: none
}