@charset "utf-8";
*{ margin:0; padding:0;}
table{ border-collapse:collapse;}
a{ text-decoration:none;}
a:hover,a:focus{ text-decoration:none;}
a:focus{ outline:none;}
ol, ul{ margin:0;}
p{ margin:0;}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5{ margin:0;}
.cor_red{ color:#fe0000;}
.cor_yellow{ color:#fdd000;}
.cor_green{ color:#008e2b;}
.f22{ font-size:22px;}
.clear{ clear:both;}
.shows{ display:block;}
.showsIn{ display:inline-block;}
.hides{ display:none;}
.ellipsis{ display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.bd_weixin_popup{ height:auto !important;}
html { -ms-touch-action: none; height:100%;}
body { font-family:"Microsoft YaHei"; position: relative; height:100%; *cursor: default; color:#333333; overflow-x:hidden;}
@font-face {
    font-family:'FZQK';
	src:url("../fonts/FZQK.TTF"/*tpa=http://www.zero2ipo.com.cn/en/fonts/FZQK.TTF*/);
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family:'SYSTB';
	src:url(../fonts/SYSTB.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'HDXQCT';
	src:url(../fonts/HDXQCT.ttf);
    font-weight: normal;
    font-style: normal;
}*/
.imgFull{ background-position:center center; background-repeat:no-repeat; background-size:cover;}
.imgFull img{ display:none;}
.headerBg{ padding:30px 0 20px; transition:all 0.3s ease-out 0s;}
.headerBg.active{ padding:15px 0 10px; background:rgba(0,0,0,0.75);}
.headerBg.active2{ padding:15px 0 10px; background:rgba(0,0,0,0.75);}
.logo{ height:auto; padding:5px 0 0; margin-left:0 !important; transition:all 0.3s ease-out 0s;}
.logo img{ transition:all 0.3s ease-out 0s;}
nav.navbar.bootsnav{ border:none; background:none;}
.navList{ padding:0;}
nav.navbar.bootsnav ul.nav > li{ padding:0 15px;}
nav.navbar.bootsnav ul.nav > li > a{ padding:0; margin:0; font-weight:normal; font-family:'FZQK'; color:#ededed; text-align:center; padding:10px 0 0; transition:all 0.3s ease-out 0s;}
nav.navbar.bootsnav ul.nav > li > a h3{ font-size:16px; font-family:Arial, sans-serif;}
nav.navbar.bootsnav ul.nav > li > a i{ display:block; height:1px; background:#65d3e3; margin:5px 0 2px; position:relative; left:50%; width:0; transition:all 0.3s ease-out 0s;}
nav.navbar.bootsnav ul.nav > li > a span{ font-size:12px; display:block; font-family:Arial; line-height:24px;}
nav.navbar.bootsnav ul.nav > li > a:hover,nav.navbar.bootsnav ul.nav > li.on > a,nav.navbar.bootsnav ul.nav > li.active > a{ color:#65d3e3;}
nav.navbar.bootsnav ul.nav > li > a:hover i,nav.navbar.bootsnav ul.nav > li.on > a i,nav.navbar.bootsnav ul.nav > li.active > a i{ width:100%; left:0;}
.navRig{ line-height:44px; height:46px; font-size:14px; color:#333333; margin-right:0; margin-left:25px;}
.navRig > ul > li > a{ font-size:14px; color:#c6c6c6; display:inline-block; padding:0; text-align:center;}
.navRig > ul > li > a.language{ color:#c6c6c6; border:1px solid rgba(255,255,255,0.34); border-radius:50%; width:32px; height:32px; line-height:30px;}
nav.navbar.bootsnav .navbar-toggle{ background:none !important; color:#65d3e3;}

.banner{ height:100%; position:relative;}
.banCaption{ color:#FFFFFF; display:table; height:100%; left:0; min-height:100%; position:absolute; text-align:center; top:0; width:100%; z-index:11;}
.banContent{ display:table-cell; vertical-align:middle;}
.banner .swiper-pagination{ display:block; position:static; text-align:right; width:100%;}
.banner .swiper-pagination-bullet{ width:16px; height:16px; margin:0 7px; background:#FFFFFF; opacity:0.4; transition:all 0.4s ease 0s;}
.banner .swiper-pagination-bullet-active{ opacity:0.9;}

.banBg{ position:absolute; left:0; top:0; width:100%; height:100%;}
.banImg{ max-width:20%; max-width:42%; margin:0 auto;}
.banImg img{ margin:0 auto; transform:translateX(15%);}
.banDot{ position:absolute; bottom:4%; left:0; z-index:1000; width:100%;}
.banDot .container{ margin:0 auto;}
.nav-dots{ position:static !important; text-align:right !important;}
.nav-dots span{ background:rgba(255,255,255,0.4) !important; box-shadow:none !important;}
.nav-dots span.nav-dot-current{ background:rgba(255,255,255,0.9) !important;}
.nav-dots span.nav-dot-current:after{ display:none !important;}
.banBtn{ position:absolute; left:50%; bottom:2%; z-index:1000; cursor:pointer; transform:translateX(-50%); cursor:pointer; width:70px; height:70px; border-radius:50%; border:2px solid rgba(255,255,255,0.5); box-shadow:1px 1px 1px rgba(0,0,0,0.1);}
.banBtn:after{ display:block; content:""; width:35px; height:35px; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); background:url("../images/banBtn.png"/*tpa=http://www.zero2ipo.com.cn/en/images/banBtn.png*/) center center no-repeat; background-size:cover;  animation:flash 3s infinite;}

.box1Bg{ padding:45px 0; background:#FFFFFF;}
.box1Top{ padding:30px 0; font-size:17px; color:#787878; font-family:Arial, sans-serif; /*text-align:center;*/ text-align:left; /*max-width:725px;*/ margin:0 auto;}
.box1Top img{ margin:0 auto;}

.box1Cen{ margin:0; font-size:0; padding:30px 0; max-width:700px; margin:0 auto; position:relative;}
.box1Cen li{ width:25%; padding:10px; vertical-align:top;}
.box1Cen li:nth-child(2n){ margin-top:40px;}
.box1CenCon{ position:relative; font-size:16px; color:#8a8a8a; font-family:Arial, sans-serif; font-weight:bold;}
.box1Cir{ display:block; margin:20px auto; border:4px solid #65d3e3; border-radius:50%; width:19px; height:19px;}
.box1Line{ height:2px; background:#bababa; font-size:0; position:absolute; transform-origin:left center;}
.box1Line1{ transform:rotate(13deg); left:95px; bottom:107px; width:160px;}
.box1Line2{ transform:rotate(-13deg); left:270px; bottom:68px; width:160px;}
.box1Line3{ transform:rotate(13deg); left:445px; bottom:107px; width:160px;}

.box1Bot{ font-family:'SYSTB'; font-size:20px; color:#1b1b1b; padding:30px 0 60px;}
.box1Bot img{ margin:0 auto;}

.box1BotImg{ display:none;}

.box2Bg{ background:url("../images/box2Bg.jpg"/*tpa=http://www.zero2ipo.com.cn/en/images/box2Bg.jpg*/) repeat; padding:30px 0 70px;}
.box2Tit{ padding:30px 0; margin-bottom:20px; background:url("../images/box2TitBg.png"/*tpa=http://www.zero2ipo.com.cn/en/images/box2TitBg.png*/) center bottom no-repeat;}
.box2Tit img{ margin:0 auto;}
.box2Item{ margin:0; font-size:0; padding:30px 0;}
.box2Item li{ width:25%; padding:5px;}
.box2Item li a{ display:block; height:100%; position:relative; margin:0 auto; background:#eae8e8; padding:25px 5px 10px; transition:all 0.4s ease 0s;}
.box2Img{ position:relative; padding:35px; border:2px solid #0dc9cb; border-radius:50%; display:inline-block; vertical-align:middle; transition:all 0.4s ease 0s;}
.box2ImgHov{ position:absolute; left:0; top:0; width:100%; height:100%; padding:35px; opacity:0; transition:all 0.4s ease 0s;}
.box2Img img{ margin:0 auto; max-width:57px; transition:all 0.4s ease 0s;}
.box2Name{ font-size:18px; color:#434343; line-height:200%; padding:10px 0; transition:all 0.4s ease 0s;}
.box2Item li a.active{ background:#0dc9cb;}
.box2Item li a.active .box2Img{ border-color:#FFFFFF;}
.box2Item li a.active .box2ImgHov{ opacity:1;}
.box2Item li a.active .box2Name{ color:#FFFFFF;}

.box3Bg{ background:none;}
.box3Bg.mb{ background-attachment:scroll;}
.box3OverLay{ padding:15px 0;}
.box3Item{ padding:20px 0 50px;}
.box3Item .swiper-slide{ padding:13px;}
.box3Item .swiper-slide a{ display:block; width:100%; height:150px; display:table; border-radius:50%; background:rgba(179,179,179,0.25); overflow:hidden; transition:all 0.4s ease 0s;}
.box3Img{ width:100%; display:table-cell; vertical-align:middle; padding:10px;}
.box3Img img{ margin:0 auto;}
.box3Item .swiper-slide a:hover{ background:#0dc9cb;}

.box3VideoBg{ position:fixed; left:0; top:0; width:100%; height:100%; z-index:-1;}
.box3Video{ position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); min-width:100%; min-height:100%;}
.box3ImgBg{ position:fixed; left:0; top:0; width:100%; height:100%; z-index:-2;}
.box3ImgBg .imgFull{ position:absolute; left:0; top:0; width:100%; height:100%;}
.box3Bg.mb .box3VideoBg{ display:none;}
.box3Bg.mb .box3ImgBg{ z-index:-1;}

.box4TopBg{ background:#FFFFFF; padding:40px 0 10px;}
.box4BotBg{ background:#f7f7f7;}
.box4BotImg{ position:relative; height:607px; cursor:pointer;}
.box4BotImg .imgFull{ position:absolute; left:0; top:0; width:100%; height:100%;}

.box4Video{ position:relative; cursor:pointer;}
.box4Con{ position:absolute; left:0; top:50%; width:100%; transform:translateY(-50%);}
.box4Con img{ margin:0 auto;}
.box4Ico{ width:70px; height:70px; margin:0 auto 30px;}
.box4Text{ max-width:70%; margin:0 auto;}
.box4Con.mb{ transform:translateY(0); top:auto; bottom:10%;}


.mvLayerBg{ position:fixed; left:0; top:0; z-index:1030; width:100%; height:100%; background:rgba(0,0,0,1); display:none;}
.mvLayer{ width:86%; max-width:1200px; position:fixed; height:auto; top:50%; border-radius:0.4em; z-index:1030; left:50%; display:none; box-shadow:0 0 10px rgba(0,0,0,0.2);}
.mvLayer iframe{ width:100%; height:auto;}
.mvPlayer{ background:#000000; display:block;}
.mvLayer i{ position:absolute; right:0; top:0; width:30px; height:30px; box-shadow:3px 0 3px rgba(0,0,0,0.2); background:url("../images/Close.png"/*tpa=http://www.zero2ipo.com.cn/en/images/Close.png*/) center center #FFFFFF no-repeat; cursor:pointer;}

.footerBg{ background:#2a3034; font-size:14px; line-height:22px; color:#bfbfbf;}
.footerBg a{ color:#bfbfbf;}
.footTop{ padding:30px 0 40px; background:#373d41; font-size:0;}
.footLogo,.footCon,.footShare{ display:inline-block; vertical-align:top; padding:0 35px; font-size:14px; color:#bfbfbf;}
.footCon{ font-family:Arial, sans-serif; font-size:16px;}
.footCon h3{ font-size:14px; padding-bottom:10px; font-family:Arial, sans-serif;}
.footCon p{ font-family:Arial, sans-serif;}
.footShare h3{ font-size:16px; color:#bfbfbf; font-family:Arial, sans-serif;}
.share{ padding:10px 0 0; margin:0;}
.share li{ position:relative;}
.share li a{ display:block;}
.shareWx{ position:absolute; bottom:30px; left:50%; width:128px; height:134px; padding:4px 0 0 6px; transform:translateX(-50%); background:url("../images/wxBg.png"/*tpa=http://www.zero2ipo.com.cn/en/images/wxBg.png*/) center bottom no-repeat; background-size:cover; display:none;}
.shareWx img{ margin:0 !important; width:113px;}
.share li:hover .shareWx{ display:block;}

.footBot{ font-size:12px; color:#bcbcbc; line-height:22px; padding:15px 0;}
.footBot a{ color:#bcbcbc; transition:all 0.4s ease 0s;}
.footBot a:hover{ color:#0dc9cb;}

.headSpace{ height:75px;}
.mainBg{ background:#FFFFFF;}
.onepageBox .box2Tit{ padding:100px 0 45px;}
.onepage{ padding:0 100px 100px; font-size:14px; color:#605e5e; line-height:24px;}
.onepage p{ margin:15px 0; text-indent:2em;}
.onepage p:first-child{ margin-top:0;}

.teamTopBg{ background:#f0f3f5; background:#F1F1F3;}
.teamItem{ overflow:hidden; padding:60px 0 260px;}
.teamItem li{ padding:7px;}
.teamItem li a{ display:block; height:100%; overflow:hidden;}
.teamItem li a img{ margin:0 auto; width:100%; transition:all 0.5s linear 0s;}
.teamItem li a:hover img{ transform:scale(1.03);}

.artlist{ padding:0 65px; margin-bottom:90px; position:relative; z-index:1; overflow:hidden;}
.artlist:after{ display:block; content:""; position:absolute; left:50%; top:0; margin-left:-1px; width:1px; height:100%; background:#f1f1f1; z-index:-1;}
.artlist li{ width:50%; text-align:right; margin-top:-40px; z-index:2; min-height:160px;}
.artlist li:first-child{ margin-top:0;}
.artlist li a{ display:block; height:100%; font-size:14px; color:#222222; line-height:24px; padding-right:60px; position:relative; z-index:1;}
.artlist li a:after,.artlist li a:before{ display:block; content:""; position:absolute; border-radius:50%; transition:all 0.3s ease-in 0s;}
.artlist li a:before{ top:0; right:-17px; width:34px; height:34px; background:#f1f1f1;}
.artlist li a:after{ top:5px; right:-12px; width:24px; height:24px; background:#0dc9cb;}
.arTit{ font-size:18px; color:#222222; font-weight:bold; line-height:160%; transition:all 0.3s ease-in 0s;}
.arTime{ font-size:14px; color:#837e7e; line-height:24px; display:block;}
.arBrief{ opacity:0.8; max-height:96px; overflow:hidden;}
.artlist li:nth-child(2n){ text-align:left; margin-left:50%;}
.artlist li:nth-child(2n) a{ padding-left:60px; padding-right:0;}
.artlist li:nth-child(2n) a:before{ right:auto; left:-17px;}
.artlist li:nth-child(2n) a:after{ right:auto; left:-12px;}
.artlist li a:hover:before,.artlist li a:hover:after{ border-radius:20px;}
.artlist li a:hover:before{ height:104px;}
.artlist li a:hover:after{ height:94px;}
.artlist li a:hover .arTit{ color:#0dc9cb;}
.arSpace{ display:block; position:absolute; left:50%; bottom:0; margin-left:-1px; width:2px; background:#FFFFFF; height:100px; z-index:1;}

.article{ padding:0 0 50px; font-size:14px; color:#605e5e; line-height:24px;}
.article p{ margin:10px 0;}
.articleTit{ text-align:center; font-size:26px; line-height:180%;}
.articleTime{ text-align:center; padding:5px 0 10px; line-height:200%; color:#999999;}
.prevnext{ border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; margin:30px 0 0; line-height:40px;}
.prevnext a{ font-size:14px; color:#999999;}
.prevnext a:hover{ color:#0dc9cb;}
.prevnext p{ margin:0;}
.pager .previous > a, .pager .previous > span{ float:none; text-align:left;}
.pager .next > a, .pager .next > span{ float:none; text-align:right;}

.joinTop{ padding:0 30px; font-size:14px; color:#3b3b3b; line-height:30px;}
.joinTop p{ margin:10px 0;}
.joinBot{ padding:65px 40px 85px;}
.joinH3{ font-size:18px; font-weight:bold; color:#373d41; background:#fbfbfb; line-height:40px;}
.joinH3:hover{ color:#65d3e3;}
.joinH3:hover img.showsIn{ display:none;}
.joinH3:hover img.hides{ display:inline-block;}

.joinItem { padding:15px 0;}
.joinItem li{}
.joinH4{ padding:0 270px 0 25px; line-height:40px; position:relative; font-size:14px; color:#373d41; cursor:pointer; margin-bottom:5px; overflow:hidden; transition:all 0.3s ease-out 0s;}
.joinH4:after{ position:absolute; left:-10px; top:18px; display:block; content:""; width:7px; height:7px; border-radius:50%; background:#6e6e6e; transition:all 0.3s ease 0.1s;}
.joinName{ width:100%;}
.joinIco{ display:block; width:18px; height:18px; position:absolute; right:30px; top:22px;}
.joinIco:after,.joinIco:before{ display:block; content:""; position:absolute; font-size:0; background:#009040; transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s;}
.joinIco:after{ top:7px; left:0; width:100%; height:4px;}
.joinIco:before{ top:0; left:7px; width:4px; height:100%;}
.joinH4 .joinBrief{ position:absolute; right:20px; top:0; font-size:14px; color:#666666;}
.joinBrief i{ font-style:normal; padding:0 15px;}
.joinBrief b{ font-weight:normal;}
.joinText{ border:1px solid #9d9d9d; padding:20px 30px; font-size:14px; color:#373d41; line-height:30px; display:none;}
.joinText .joinBrief{ padding:0 0 20px; display:none;}
.joinText p strong{ font-size:16px;}
.joinText a,.joinText a:hover,.joinText a:focus{ color:#FFFFFF; background:#0dc9cb; display:inline-block; height:40px; line-height:40px; padding:0 15px; border-radius:20px;}
.joinItem li.active .joinH4,.joinItem li:hover .joinH4{ background:#92e7e8;}
.joinItem li.active .joinH4:after{ left:10px;}

.contact{ padding-bottom:100px;}
.conItem{ position:relative;}
.conItem:before{ display:block; content:""; width:2px; height:100%; background:#f1f1f1; position:absolute; left:50%; margin-left:-1px; top:0;}
.conItem li{ position:relative; min-height:200px; padding-bottom:30px;}
.conItem li:last-child{ padding-bottom:0; min-height:183px;}
.conImg{ position:absolute; left:50%; top:0; transform:translateX(-50%); width:183px; height:183px; border:7px solid #ebebeb; border-radius:50%; background:#f7f7f7; transition:all 0.4s ease 0s;}
.conText{ width:50%; padding-right:130px; text-align:right; font-size:14px; color:#434343; line-height:24px;}
.conText a{ color:#434343;}
.conName{ font-size:28px; color:#222222;}
.conNameEn{ font-size:18px; color:#a8a8a8; line-height:180%;}
.conItem li:nth-child(2n) .conText{ margin-left:50%; padding-left:130px; padding-right:0; text-align:left;}
.conItem li:hover .conImg{ border-color:#65d3e3;}

.serviceBox{ font-size:14px; color:#525252; line-height:24px;}
.gray{ background:#efefef;}
.serviceBox .box2Tit{ padding:100px 0 30px; margin-bottom:50px;}
.serviceBox .box2Tit img{ position:relative; /*left:30px;*/}
.serCon1{ padding:0 100px 80px;}

.fenlei{ font-size:0; margin:0 -10px; padding:15px 0;}
.fenlei li{ padding:5px 10px;}
.fenlei li a{ display:block; font-size:18px; color:#a7a7a7; border:2px solid #cfcfcf; line-height:46px; padding:0 10px; min-width:295px; transition:all 0.4s ease 0s;}
.fenlei li a:hover,.fenlei li a.active{ color:#292929; border-color:#3d3d3d;}

.serCon2{ padding:0 50px 70px;}
.serCon2 .serCon3More:hover,.serCon2 .serCon3More:focus{ color:#f5f5f5; background:#0dc9cb;}
.serCon1 p,.serCon2 p{ text-indent:2em;}

.serCon3{ padding:0 0 50px;}
.serCon3Item{ margin:0; font-size:0; padding:15px 0;}
.serCon3Item li{ width:100%; font-size:12px; color:#525252; padding:15px;}
.serCon3ImgBg,.serCon3Wx{ display:inline-block; vertical-align:middle; margin:0 50px;}
.serCon3Img{ display:table; /*background:#757575;*/ border:2px solid #cdcdcd; width:155px; height:155px; border-radius:50%; margin:0 auto;}
.serCon3Tit{ font-size:14px; color:#2b2b2b; line-height:24px; font-weight:bold; padding:15px 0 5px;}
/*.serCon3Wx{ width:155px; height:155px; border:2px solid #cdcdcd; border-radius:50%; padding:24px 24px 0; margin:10px auto 0;}*/
.serCon3Wx{ width:155px;}
.serCon3Wx img{ margin:0 auto;}
.serCon3WxTit{ font-size:12px; line-height:200%;}
.serCon3More{ font-size:14px; color:#f5f5f5; font-weight:bold; text-align:center; display:block; width:190px; height:40px; line-height:40px; background:#0dc9cb; border-radius:20px; margin:15px auto; transition:all 0.4s ease 0s;}
.serCon3More:hover,.serCon3More:focus{ color:#0dc9cb; background:#FFFFFF;}

.serCon4{ padding:0 0 30px;}
.gray .serCon4{ padding:0 0 70px;}
.serCon4Item{ font-size:0; max-width:860px; margin:0 auto;}
.serCon4Item li{ width:20%; padding:4px; vertical-align:top;}
.serCon4Item li a{ display:block; height:100%; position:relative; overflow:hidden; background:#efefef;}
.serCon4Item li a img{ margin:0 auto; width:100%; transition:all 0.4s ease 0s;}
.serCon4Item li a:hover img{ transform:scale(1.1);}

.serCon5{ padding:60px 0 100px; text-align:center; font-size:14px; color:#373d41; font-weight:bold; line-height:24px;}
.serCon5 p strong{ font-size:18px; color:#373d41;}
.serCon5 p{ margin:10px 0;}
.serCon5 p a{ font-size:14px; color:#373d41; line-height:24px; display:inline-block;}
.serCon5 p a:hover{ color:#0dc9cb;}
.serMail{ border:2px solid #0dc9cb; line-height:40px; border-radius:20px; display:inline-block; padding:0 40px; color:#373d41; transition:all 0.4s ease 0s;}
.serMail:hover,.serMail:focus{ color:#0dc9cb;}

.serCon6{ padding:70px 0 30px;}
.serCon6Item{ font-size:0;}
.serCon6Item li{ vertical-align:top; width:33.33%; padding:10px;}
.serCon6Item li a{ display:table; width:155px; border-radius:50%; border:2px solid #cdcdcd; margin:0 auto;}
.serCon6Item li a img{ margin:0 auto;}
.serCon6Item li a:hover img{ transform:scale(1.05); transition:all 0.4s ease 0s;}
.serCon6Img{ display:block; display:table-cell; vertical-align:middle; padding:15px; overflow:hidden;}

.serCon7{ padding:30px 0 70px;}
.serCon7Item{ font-size:0;}
.serCon7Item li{ vertical-align:top; width:33.33%; padding:10px;}
.serCon7TextBg{ width:188px; background:url("../images/serCon7Bg.png"/*tpa=http://www.zero2ipo.com.cn/en/images/serCon7Bg.png*/) center center #FFFFFF no-repeat; background-size:cover; border-radius:50%; overflow:hidden; display:table; margin:0 auto;}
.serCon7Text{ display:table-cell; vertical-align:middle; width:100%; padding:0 10px; font-size:18px; color:#525252; line-height:40px;}
.serCon7Text h3{ font-size:24px; color:#525252; font-weight:bold; transition:all 0.4s ease 0s;}
.serCon7TextBg:hover h3{ color:#0dc9cb;}

@media (min-width:993px){
	.box1TopCon{ float:right; width:100%; -webkit-writing-mode:vertical-rl; writing-mode:tb-rl; writing-mode:vertical-rl;}
}
@media (min-width:1200px){	
	.container{ width:1034px;}
}
@media (max-width:1600px){
	.banBtn{ width:60px; height:60px;}
	.banBtn:after{ width:30px; height:30px;}
	.box2Bg{ padding:30px 0 50px;}
	.box4BotImg{ height:550px;}
}
@media (max-width:1400px){
	.box2Bg{ padding:30px 0 40px;}
}
@media (max-width:1200px){
	.headerBg{ padding:20px 0 10px;}
	.banBtn{ width:50px; height:50px;}
	.banBtn:after{ width:25px; height:25px;}
	.box2Bg{ padding:30px 0;}
	.box4BotImg{ height:500px;}
	.onepageBox .box2Tit{ padding:50px 0 25px;}
	.onepage{ padding:0 0 50px;}
	.teamItem{ padding:30px 0 130px;}
	.artlist{ padding:0; margin-bottom:50px;}
	.joinTop{ padding:0;}
	.joinBot{ padding:35px 0 50px;}
	.serviceBox .box2Tit{ padding:70px 0 30px;}
	.serCon1{ padding:0 0 50px;}
	.fenlei li a{ min-width:235px;}
	.serCon2{ padding:0 0 30px;}
	.serCon5{ padding:30px 0 60px;}
}
@media (max-width:1023px) and ( min-width:993px){
	nav.navbar.bootsnav.menu-center ul.nav.navbar-center{ float:none; margin:0 auto; display:table; table-layout:fixed; left:0px;}
}
@media (max-width:992px){
	.headerBg,.headerBg.active,.headerBg.active2{ padding:0;}
	nav.bootsnav .container{ width:100%;}
	nav.navbar.bootsnav .navbar-header{ padding:0; margin:0;}
	.logo{ position:static; width:165px; padding:10px 0;}
	.logo img{ width:165px; height:28px;}
	nav.navbar.bootsnav .navbar-brand{ float:left !important;}
	
	.navRig{ height:48px; line-height:46px; right:45px !important;}
	.navRig > ul{ margin:0;}
	nav.navbar.bootsnav .navbar-toggle{ float:right; position:static; margin:0; margin-top:10px;}
	nav.navbar.bootsnav .navbar-nav{ margin:0; left:0; padding:10px 0;}
	nav.navbar.bootsnav ul.nav > li{ padding:0;}
	nav.navbar.bootsnav ul.nav > li > a{ text-align:left; padding:5px 0; margin:0; border-bottom:none; font-size:14px; border-radius:0;}
	nav.navbar.bootsnav ul.nav > li > a i{ display:none;}
	nav.navbar.bootsnav ul.nav > li > a h3{ padding-right:5px; min-width:75px;}
	nav.navbar.bootsnav ul.nav > li > a h3,nav.navbar.bootsnav ul.nav > li > a span{ display:inline-block;}
	#navbar-menu{ padding:0; border-top:1px solid #65d3e3;}
	
	.banImg{ max-width:60%;}
	.banImg img{ transform:translateX(0);}
	.box1Top{ padding:20px 0;}
	.box1Cen{ padding:20px 0;}
	.box1Line1{ bottom:97px;}
	.box1Line2{ bottom:60px;}
	.box1Line3{ bottom:97px;}
	.box1Bot{ padding:10px 0 30px;}
	
	.box2Img,.box2ImgHov{ padding:25px;}
	.box2Name{ font-size:16px;}
	
	.box4BotImg{ height:400px;}
	.box4Ico{ width:50px; height:50px; margin:0 auto 20px;}
	
	.footLogo,.footCon,.footShare{ padding:0 30px;}
	.footBot p{ text-align:center;}
	
	.headSpace{ height:50px;}
	
	.artlist li a{ padding-right:40px;}
	.artlist li a:before{ width:32px; height:32px; right:-16px;}
	.artlist li a:after{ top:6px; width:20px; height:20px; right:-10px;}
	.artlist li:nth-child(2n) a{ padding-left:40px; padding-right:0;}
	.artlist li:nth-child(2n) a:before{ left:-16px;}
	.artlist li:nth-child(2n) a:after{ left:-10px;}
	.arTit{ font-size:16px;}
	
	.conImg{ width:160px; height:160px; border-width:4px;}
	.conText{ padding-right:100px;}
	.conItem li:nth-child(2n) .conText{ padding-left:100px;}
	.conName{ font-size:24px;}
	.conNameEn{ font-size:16px;}
	.fenlei li{ width:33.33%;}
	.fenlei li a{ min-width:0; font-size:16px; line-height:40px;}
	
	.serCon4Item li{ width:25%;}	
}
@media (max-width:767px){
	nav.navbar.bootsnav .navbar-nav{ padding:15px;}
	.box1Cen li{ width:50%;}
	.box1Cen li:nth-child(2n){ margin:0;}
	.box1Line{ display:none;}
	.box1Cen{ display:none;}
	.box1BotImg{ display:block; padding:20px 0 0;}
	.box1BotImg img{ margin:0 auto;}
	/*.box2Item li{ width:50%;}*/
	.footTop{ padding:20px 0;}
	.footTop img{ margin:0 auto; max-width:100%;}
	.footLogo,.footCon,.footShare{ padding:10px; text-align:center;}
	.footLogo{ width:100%;}
	.footLogo img{ margin:0 auto;}
	.footCon{ width:35%;}
	.footShare{ width:30%;}
	.teamItem{ padding:30px 0;}
	.artlist{ padding:0 0 30px 30px;}
	.artlist:after{ left:12px; margin-left:0;}
	.artlist li{ margin:0; text-align:left; width:100%; min-height:0; padding-bottom:15px;}
	.artlist li:nth-child(2n){ margin:0;}
	.artlist li a{ padding:0 !important;}
	.artlist li a:before{ width:24px; height:24px; left:-30px !important;}
	.artlist li a:after{ width:16px; height:16px; top:4px; left:-26px !important;}
	.artlist li a:hover:before{ height:24px;}
	.artlist li a:hover:after{ height:16px;}
	.arSpace{ left:12px; margin-left:0;}
	
	.articleTit{ font-size:20px;}
	.prevnext{ line-height:30px; padding:10px 0;}
	.pager .next > a, .pager .next > span{ text-align:left;}
	
	.conItem:before{ left:50px;}
	.conItem li{ min-height:0 !important; padding-bottom:15px;}
	.conImg{ position:static; float:left; transform:translateX(0); width:100px; height:100px; border-width:2px;}
	.conText{ padding:0 0 0 120px !important; margin:0 !important; text-align:left; width:100%;}
	.conName{ font-size:20px;}
	.conNameEn{ font-size:14px;}	
}
@media (max-width:640px){
	.banImg{ max-width:90%;}
	.banDot{ bottom:1%;}
	.banner .swiper-pagination-bullet{ width:12px; height:12px; margin:0 3px;}
	.nav-dots span{ width:12px !important; height:12px !important; margin:3px !important;}
	.banBtn{ width:40px; height:40px;}
	.banBtn:after{ width:20px; height:20px;}
	
	.box1Bg{ padding:25px 0;}
	.box1Top{ padding:15px 0;}
	.box1Bot{ max-width:60%; margin:0 auto; padding:10px 0;}
	
	.box2Tit{ padding:15px 0;}
	.box2Tit img{ max-width:50%;}
	.box2Bg{ padding:25px 0;}
	.box2Item{ padding:15px 0;}
	.box2Item li{ vertical-align:top;}
	.box2Img,.box2ImgHov{ padding:13px 10px;}
	.box2Img img{ max-width:80%;}
	.box2Name{ white-space: normal; font-size:12px;}
	
	.box4BotImg{ height:300px;}
	.mvLayer{ border-width:5px;}
	
	.share li a img{ width:22px;}
	.shareWx{ bottom:20px;}
	
	.onepageBox .box2Tit{ padding:20px 0;}
	.onepageBox .box2Tit img{ max-width:35%;}
	.onepage{ padding:0 0 30px;}
	/*.teamItem li{ width:100%;}*/
	.joinH3 img{ width:40px;}
	.joinH4{ padding:0 25px;}
	.joinH4 .joinBrief{ display:none;}
	.joinText .joinBrief{ display:block;}
	.joinText{ padding:15px;}
	
	.serviceBox .box2Tit img{ /*left:15px;*/}
	.fenlei{ margin:0 -2px;}
	.fenlei li{ padding:5px 2px;}
	.fenlei li a{ border-width:1px; line-height:36px;}
	.serCon3Item li{ padding:15px 0;}
	.serCon3ImgBg,.serCon3Wx{ margin:0 10px;}
	.serCon4Item li{ width:33.33%;}
	.serCon5{ padding:20px 0 30px;}
	.serCon6Item li a{ width:125px;}
	
	.serCon7Item li{ padding:5px;}
	.serCon7TextBg{ width:100%;}
	.serCon7Text{ font-size:14px;}
	.serCon7Text h3{ font-size:20px;}
}
@media (max-width:460px){
	.box1Cen li{ width:100%;}
	.box1Cir{ margin:10px auto; border-width:2px; width:15px; height:15px;}
	.box2Item{ padding:0;}
	.box4TopBg{ padding:10px 0;}
	.box4BotImg{ height:200px;}
	.box4Ico{ width:40px; height:40px; margin:0 auto 10px;}
	.footTop{ padding:15px 0 0;}
	.footCon{ width:100%; padding:10px 5px;}
	.footCon h3{ padding-bottom:0; display:inline;}
	.footCon p{ display:inline;}
	.footShare{ width:100%;}
	.footShare h3,.share{ display:inline-block; vertical-align:middle;}
	.teamItem{ padding:15px 0 30px;}
	.articleTit{ font-size:18px;}
	.conItem:before{ left:40px;}
	.conImg{ width:80px; height:80px;}
	.conText{ padding:0 0 0 95px !important;}
	.serviceBox .box2Tit{ padding:30px 0; margin-bottom:30px;}
	.serCon1{ padding:0 0 20px;}
	.fenlei li a{ font-size:14px; padding:0 5px;}
	.serCon3{ padding:0 0 20px;}
	.serCon3Item li{ padding:5px;}
	.serCon3Img,.serCon3Wx{ width:115px; height:115px;}
	.serCon3Wx{ padding:15px 15px 0;}
	.serCon3Wx img{ max-width:90%;}
	.gray .serCon4{ padding:0 0 40px;}
	.serCon6{ padding:30px 0 20px;}
	.serCon6Item li{ width:50%;}
	.serCon6Item li a{ width:100%;}
	.serCon7{ padding:0 0 40px;}
	.serCon7Item li{ width:50%;}
	.serCon7Text h3{ font-size:18px;}
}
@media (max-width:360px){
	/*.box2Item li{ width:100%;}*/
	.box2Name{ font-size:12px; padding:0;}
	.box3Item{ padding:15px;}
	.box3Item .swiper-slide{ padding:5px;}
	.fenlei li a{ font-size:12px;}
	.serMail{ padding:0; width:100%;}
	.serCon4Item li{ width:50%;}
}	
@media (max-height:414px){
}
@media all and (orientation : landscape){
}
@media all and (orientation : portrait){ 
}